:root {
  --primaryColor: ;
  --secondaryColor: ;
  --lineColor: ;
  --primaryTextColor: ;
  --secondaryTextColor: ;
  --buttonColor: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #333 !important;
}

/* custom scroll */
body::-webkit-scrollbar {
  width: 12px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f5f5f5;
  padding: 2px;
  /* border-radius: 20px; */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 20px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

/* -----------------MODAL------------- */
.dialog-onload {
  max-width: 100% !important;
  margin: 0 !important;
}
.content-onload {
  width: 100%;
  height: 100%;
  border: none !important;
  border-radius: 0 !important;
  background: #333 !important;
}
.content-onload > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.text-onload {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.button-onload {
  margin: 1rem;
  background-color: #fff;
  border: none;
  width: 250px;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  animation: highlight 2s ease infinite;
}

@keyframes highlight {
  0% {
    transform: scale (1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* ----------------------------------- */
.wedding {
  max-width: 800px;
  margin: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f5f5f5;
}
/* ---------------header------------- */

.header {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #19423e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1602605786056-da87eadb5126?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fG1hcnJpZWR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding: 1rem; */
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  z-index: 100;
}

.header-groom {
  text-align: center;
}

.header-date {
  text-align: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ---------------Quote------------- */

.quote-section {
  width: 100%;
  height: auto;
  padding: 10%;
}

.quote-ayat {
  text-align: center;
}

/* ---------------The Bride and Broom------------- */
.bride-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  background-color: #fff;
  padding: 5%;
}

.bride-card {
  background-color: transparent;
  /* border-radius: 20px; */
  /* padding: 1rem; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.bride-and {
  text-align: center;
  margin: auto;
}
.bride-detail {
}

.bride-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem;
}

.bride-name {
}

.bride-parent {
}

/* ---------------The Dates------------- */
.dates-section {
  width: 100%;
  position: relative;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1446831687499-c9188a15b9bd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fGFic3RyYWN0JTIwZ3JlZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dates-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  z-index: 2;
}

/* FORMAT FOR H2  */
.dates-title {
  text-align: center;
  line-height: 3;
  z-index: 3;
}

.dates-countdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  width: 90%;
  z-index: 3;
  /* color: white; */
}

.dates-countdown div {
  display: inline-block;
  /* min-width: 90px; */
}

.dates-countdown div span {
  /* color: #b1cdf1; */
  display: block;
  font-size: 0.35em;
  font-weight: 400;
}

.dates-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  margin: 10px;
  border-radius: 20px;
  min-width: 300px;
  position: relative;
}

.dates-name {
}

.dates-held {
}

.dates-time {
}

.dates-place {
}

.dates-button,
.btn-gift,
.btn-wishes {
  width: 200px;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #333;
}

.dates-divider {
  width: 80%;
  margin: auto;
  height: 1px;
  border-width: 0;
  background-color: #fff;
  z-index: 3;
}
/* ---------------Streaming------------- */
.streaming-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.streaming-title {
}

.streaming-text {
}

.streaming-button {
  width: 200px;
  padding: 0.3rem 1rem;
  margin: 0.3rem 0;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #333;
}
/* ---------------Love Story------------- */
.story-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  padding: 5%;
}
/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0.6rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: " ";
  background: #333;
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #333;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 1.1rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: " ";
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 1px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* ---------------Galery------------- */
.galery-section {
  width: 100%;
  padding: 5%;
}

.galery-title {
  text-align: center;
  line-height: 3;
}

.gallery-item {
  width: 200px;
  padding: 5px;
}

.galery-photos {
  display: block;
  margin: auto;
}

.galery-video {
  overflow: hidden;
  /* padding-bottom: 56.25%; */
  position: relative;
  margin: 1rem 0;
  height: 60vh;
}

.galery-video > iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ---------------Wedding Gift------------- */
.gift-section {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gift-title {
}

.gift-text {
}

.gift-button {
}

.gift-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
}

.gift-card {
  width: 100%;
  /* height: 100px; */
  padding: 5%;
  background-color: #f5f5f5;
}

.gift-card > p {
  line-height: 0.6;
}
.gift-divider {
  width: 100%;
  border: 1px solid #f5f5f5;
}
.gift-confirmation {
  margin: 10px 0;
  padding: 10px;
  background-color: #f5f5f5;
}

/* ---------------Wedding Wishes------------- */
.wishes-section {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wishes-title {
}

.wishes-text {
}

.wishes-form {
  width: 100%;
}

/* ---------------Footer------------- */
.footer {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
